.invoice-data{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.invoice-data .form-floating{
    margin-right: 20px;
    margin-bottom: 0px !important;
}

.invoice-data button{
    height: 58px;
}

.invoice-products{
    display: flex;
    flex-direction: column;
}

.invoice-row{
    display: grid;
    grid-template-columns: 400px repeat(3, 150px);
}

.invoice-first-row{
    background-color: #0002;
}

.invoice-row span{
    padding: 10px 20px;
    outline: 1px solid #ccc;
}

.invoice-total{
    display: flex;
    justify-content: flex-end;
}

.invoice-total span{
    padding: 10px 20px;
    width: 150px;
}

.form-invoice button[type="submit"]{
    margin-top: 30px;
}