.search-container {
  width: 500px;
}

.search-container:hover .client-name {
  display: flex;
}

.client-name {
  position: absolute;
  z-index: 1000;
  display: none;
  flex-direction: column;
  width: 500px;
  height: 100px;
  overflow-y: scroll;
  border: 1px solid grey;
  background-color: white;
}

.client-name span:hover {
  background-color: #3332;
}