.invoice-table {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.invoice-row {
  display: grid;
  grid-template-columns: 80px 100px 1fr repeat(5, 150px);
}

.detCantidad{
  grid-template-columns: 80px 100px 1fr 1fr repeat(5, 150px);
}

.invoice-first-row {
  padding-right: 18px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  border: 1px solid gray;
  background-color: #0002;
}

.invoice-row span {
  padding: 10px 20px;
  outline: 1px solid #ccc;
}

.data-table{
  flex-grow: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 800px);
  min-height: 200px;
  border-radius: 0 0 10px 10px;
  border: 1px solid gray;
}

.invoice-totals {
  display: flex;
  justify-content: flex-end;
}

.invoice-totals .discount{
  margin-top: 10px;
}

.invoice-totals .discount input[type="number"]{
  width: 50px;
  margin-left: 10px;
}

.invoice-totals span {
  padding: 10px 20px;
  width: 150px;
}

.data-aditional h5{
  padding-top: 30px;
  padding-bottom: 10px;
}

.aditional-input-container input{
  max-width: 300px !important;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .adicional{
    display: flex;
    flex-direction: column-reverse;
  }
}
