.invoicesList{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
}

.invoicesList__searchBar{
    display: flex;
    margin: 20px 0px;
}

.invoicesList__searchBar input{
    max-width: 500px;
}

.invoicesList__searchBar button{
    margin-left: 20px;
}