.dashboardList__searchBar .invoicesList__export{
  margin-left: 20px;
}

.dashboardList .limit{
  margin-left: 10px;
  margin-bottom: 5px;
  color: grey;
}

.dashboardList__searchBar .date{
  margin-bottom: 0 !important;
  margin-left: 10px;
}

.dashboardList__searchBar a{
  display: flex;
  align-items: center;
}