.search-container {
  width: 500px;
}

.search-container:hover .client-name {
  display: flex;
}

.client-name {
  position: absolute;
  z-index: 1000;
  display: none;
  flex-direction: column;
  width: 500px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 5px #0004;
  overflow: hidden;
  background-color: white;
}

.search-client-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-client-row:hover {
  background-color: #3332;
}

.search-client-row span{
  text-align: center;
  outline: 1px solid grey;
}