.invoice-client-product {
  flex-grow: 1;
}

.search-container-btn {
  display: flex;
}

.search-container-btn .btn {
  display: flex;
  align-items: center;
  width: min-content;
  margin-bottom: 1rem;
  margin-left: 20px;
}

.search-container-btn .btn span{
  padding-left: 10px;
}

.search-container-btn .clear span{
  padding: 0 5px;
}

.search-container-btn .btn:nth-child(2) {
  min-width: 150px;
}

.search-container-btn .add, .search-container-btn .clear{
  width: min-content;
  margin-left: 10px;
}

.search-container-btn .add img {
  width: 30px;
  height: 30px;
}

.search-container {
  flex-grow: 1;
}
