.dashboard__invoice {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.invoice__top {
  display: flex;
  width: 100%;
}

.invoice__mid {
  display: flex;
}

.dashboard__invoice .buttons button {
  margin-right: 20px;
}

/* adasda */
.invoice-data__client-data {
  margin-right: 40px;
}

.buscadores {
  flex-grow: 1;
}

.dashboard__invoice h2 {
  margin-bottom: 20px;
}

.invoice-data {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.invoice-data .form-floating {
  margin-bottom: 0px !important;
}

.invoice-data button {
  margin-left: 20px;
  height: 58px;
}

.invoice-data img {
  margin-right: 10px;
}

.invoice-data__client {
  display: flex;
}

.invoice-data__client-data .grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 5px;
  overflow: hidden;
}

.formas-de-pago {
  display: flex;
}

.formas-de-pago input {
  width: 60px;
  margin-bottom: 20px;
}

.formas-de-pago .form-floating {
  width: 300px;
}

.formas-de-pago .form-floating input {
  margin-bottom: 0px;
  width: 100%;
}

.invoice-data__client button {
  margin-bottom: 20px;
  margin-left: 20px;
}

.flex-2 {
  display: flex;
}

.form-invoice button[type="submit"] {
  margin-top: 30px;
}

.datas {
  display: flex;
  justify-content: space-between;
}

.data-left {
  display: flex;
  flex-direction: column;
}

.adicional {
  display: flex;
  width: 100%;
}

.aditional-input-container {
  display: flex;
}

.data-aditional {
  flex-grow: 1;
}

.data-aditional input {
  flex-grow: 1;
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .invoice__top {
    flex-direction: column-reverse;
  }

  .dashboard__invoice {
    margin: 0px;
    border-radius: 0px;
  }

  .invoice-data__client-data {
    margin-right: 0px;
  }

  .dashboard__invoice button{
    margin-right: 0px !important;
  }
}
