.dashboard__invoice {
  width: 100%;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: scroll;
  background-color: white;
}

.dashboard__invoice h2 {
  margin-bottom: 20px;
}

.invoice-data {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.invoice-data .form-floating {
  margin-bottom: 0px !important;
}

.invoice-data button {
  margin-left: 20px;
  height: 58px;
}

.invoice-data img {
  margin-right: 10px;
}

.invoice-data__client {
  display: flex;
}

.invoice-data__client-data {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.formas-de-pago {
  display: flex;
}

.formas-de-pago input {
  width: 60px;
  margin-bottom: 20px;
}

.formas-de-pago .form-floating {
  width: 300px;
}

.formas-de-pago .form-floating input{
  margin-bottom: 0px;
  width: 100%;
}

.invoice-data__client-data div span {
  padding: 0 10px;
  outline: 1px solid #ccc;
}

.invoice-data__client button {
  margin-bottom: 20px;
  margin-left: 20px;
}

.flex-2{
  display: flex;
}
/* Product list */
.product-details .table{
  display: flex;
  flex-direction: column;
}

.product-details .item{
  display: grid;
  grid-template-columns: 120px 1fr 120px;
}
/* Product list */

.invoice-products {
  display: flex;
  flex-direction: column;
}

.invoice-row {
  display: grid;
  grid-template-columns: 1fr 200px repeat(5, 150px) 100px;
}

.invoice-first-row {
  background-color: #0002;
}

.invoice-row span {
  padding: 10px 20px;
  outline: 1px solid #ccc;
}

.invoice-totals {
  display: flex;
  justify-content: flex-end;
}

.invoice-totals span {
  padding: 10px 20px;
  width: 150px;
}

.form-invoice button[type="submit"] {
  margin-top: 30px;
}

.search-container-btn {
  display: flex;
}

.search-container-btn button {
  width: 120px;
  margin-bottom: 1rem;
  margin-left: 20px;
}

.datas{
  displaY: flex;
  justify-content: space-between;
}

.data-left{
  display: flex;
  flex-direction: column;
}

.adicional{
  display: flex;
  width: 100%;
}

.aditional-input-container{
  display: flex;
}

.data-aditional{
  flex-grow: 1;
}

.data-aditional input{
  flex-grow: 1;
  margin-right: 20px;
}