.dashboard {
  flex-grow: 1;
  display: flex;
  height: 100vh;
  background-color: #eaeaea;
  color: #333;
}

.dashboard__container {
  flex-grow: 1;
  display: flex;
}

.perfil {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: none;
}

.perfil h3 {
  flex-grow: 1;
}

.perfil h2 {
  flex-grow: 1;
  text-align: right;
  margin-right: 30px;
}

.perfil button {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid gray;
}

.perfil button img {
  width: 100px;
}

.perfil button {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid gray;
}

.perfil button img {
  width: 100%;
}

.perfil .btn-sesion {
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

.perfil .btn-sesion img {
  filter: invert(0%);
}

.perfil .btn-sesion:hover img {
  filter: invert(100%);
}

.dashboardList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  outline: 1px solid #ccc;
  background: white;
}

.dashboardList__searchBar {
  display: flex;
  margin: 20px 0px;
}

.dashboardList__searchBar input {
  max-width: 500px;
}

.dashboardList__searchBar button {
  margin-left: 20px;
}

.dashboardList__searchBar button img,
.dashboardList__searchBar a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(100);
}

.dashboardList__grid {
  flex-grow: 1;
  border-radius: 5px;
  outline: 1px solid #ccc;
  overflow: hidden;
}

.contentCard {
  height: 100%;
  padding-bottom: 35px;
  overflow: scroll;
}

.label-mobile {
  display: none;
}

.listEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-buttons .btn-primary {
  width: 100%;
}

.edit-buttons .btn-success {
  width: 50%;
  margin-right: 5px;
}

.edit-buttons .btn-danger {
  width: 45%;
}

@media screen and (max-width: 1400px) {
  .perfil h3 {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .dashboardList__searchBar {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard__container {
    margin: 0;
  }

  .dashboardList {
    width: 100%;
    padding: 10px;
  }

  .dashboardList h3 {
    margin: 0;
  }

  .dashboardList__searchBar {
    flex-direction: column;
  }

  .dashboardList__searchBar button {
    margin-left: 0;
    margin-top: 10px;
  }

  .perfil {
    margin-bottom: 10px;
  }

  .label-mobile {
    display: block;
  }
}
