.invoices{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #eaeaea;
    color: #333;
}

.invoices__container{
    flex-grow: 1;
    display: flex;
    margin: 20px;
}